body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    background-image: url('C:/Users/appar/Downloads/pexels-ivan-samkov-4238524.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 0;

}

.container {
    background: hwb(195 96% 0%);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 400px;
    margin: auto;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);

}

h1 {
    text-align: center;
    color: #333;
}

form input, form select, form button {
    padding: 10px;
    border: 1px solid hsl(0, 24%, 81%);
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

form button {
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
    border: none;
}

form button:hover {
    background-color: #218838;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
}

ul li.completed {
    text-decoration: line-through;
    color: #aaa;
}

ul li .delete {
    background: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

ul li .delete:hover {
    background: #c82333;
}
